BINANCE_API_KEY = YOUR_API_KEY
BINANCE_API_SECRET = YOUR_API_SECRET
BINANCE_TESTNET_URL = YOUR_TESTNET_URL
BINANCE_SYMBOLS = LIST_OF_VALID_BINANCE_SYMBOLS #recommended to use binance api to fetch valid symbols in real time